:root{
    --header-logo-width: 60px;
    --product-tile-width: 72vw;

    --clr-primary-bg: rgb(255, 255, 255);
    --clr-tile-lightgray: rgb(246, 246, 246);



    --fs-nav-buttons: 1rem;
    --fs-section-header: 24px;
    --fs-section-buttons: 12px;

    --fc-secondary: rgb(47, 47, 47);

    --section-one-video-width: 158px;
    --section-one-video-height: 200px;
    


}

/* UTILITY CLASSES */
.cursor-pointer{
    cursor: pointer;
}

.scroll-hidden::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
    margin-top: 10px;
}

.scroll-hidden::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(235, 235, 235);

}

.fs-7{
    font-size: 14px;
}
.fs-8{
    font-size: 12px;
}
.fs-9{
    font-size: 10px;
}
.font-weight-400{
    font-weight: 400;
}

.font-weight-500{
    font-weight: 500;
}
.fc-gray-500{
    color: rgb(155, 155, 155);
}

.text-line-through{
    text-decoration: line-through;
}

.success{
    color: green;
}


/* styles */

body{
    font-family: 'Poppins', sans-serif;
}

.offer{
    font-size: 12px;
    background-color: rgb(239, 244, 247);
}
.offer span{
    font-weight: bold;
}

header{
    background-color: var(--clr-primary-bg);
    border-bottom: 1px solid rgb(189, 189, 189);
    position: sticky;
    top: -30px;
    z-index: 1;
}
nav{
    position: sticky;
    top: 20px;
    column-gap: 20px;
    font-size: var(--fs-nav-buttons);
}

.header-boat-logo img{
    width: var(--header-logo-width);
}
.nav-buttons > ul{
    gap: 1.5rem;
}
.nav-buttons a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--fc-secondary);
    position: relative;
}

.nav-buttons  a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}
.nav-buttons a:after {
    --width: 40%;
    position: absolute;
    content: "";
    background-color: red;
    transition: 1s;
    top: 22px;
    width: 0px;
    height: 1.5px;
    /* left: calc(50% - calc(var(--width) / 2)); */
    right: 50%;
    background-color: red;
    border-radius: 1px;

}
.nav-buttons a:hover:after {
    /* width: var(--width) */
    width: 1px;
    transform: scaleX(50)
    
}

.nav-buttons a > i{
    font-size: 10px;
}

.right-section{
    flex-grow: 5;
}

#searchBtn > input {
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-weight: bold;
    outline: none;
    width: 20vw;
}

.media-scroller{

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;

}

.media-scroller-image-container{
    --width: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: var(--width);
    height: var(--width);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 0, 0);
}

.recomented > .media-scroller > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.recomented img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.recomented p{
    text-align: center;
    width: min-content;
    font-size: 10px;
    font-weight: bold;
}

.section-title{
    font-size: var(--fs-section-header);
    font-weight: 400;
}
.section-title span{
    font-weight: bold;
}


.bestsellers .media-scroller video{
    width: var(--section-one-video-width);
    height: var(--section-one-video-height);
    object-fit: cover;
    border-radius: 10px;
}

.bestsellers .media-scroller p{
    font-size: 18px;
    display: none;
}

.bestsellers .media-scroller div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}


.timer-container img{
    width: 100%;
}

.product-tile{
    position: relative;
    min-width: var(--product-tile-width);
    max-width: var(--product-tile-width);
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--clr-tile-lightgray);
    border: 1px solid rgb(222, 222, 222);
    margin-right: 1rem;
}

.image-container{
    position: relative;
}

.product-tile img{
    width: 100%;
    aspect-ratio: 8 / 8;
    object-fit: cover;
}

.clr-golden{
    color: rgb(251, 172, 26);
}


.coller-pellet{
    --width: 1.2rem;
    display: block;
    height: var(--width);
    width: var(--width);
    border-radius: 59%;
    margin-left: -0.5rem;
    border: 1px solid white;
}


.add-to-cart-btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.partial-underline{
    position: relative;
}
.partial-underline::after{
    position: absolute;
    display: block;
    content: '';
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: red;

    bottom: 0px;
    right: 0;
}

.attraction > div{
    position: absolute;
    top: 10px;
    left: 0;
    --radius: 5px;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    width: max-content;
    color: white;
    padding: 5px 10px;
    background-color: black;
}

.usb > div{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.usb > div > div{
    margin-inline: auto;
    display: block;
    border-radius: 20px;
    width: 60%;
    padding: 5px 10px;
    border: 1px solid white;
    background-color: rgb(255, 174, 0);
}

.best-of-boats .button-section{
    display: flex;
    gap: 0px;
    font-size: 12px;
}
.best-of-boats .button-section button{
    color: rgb(121, 121, 121);
    padding: 10px 25px;
    border-radius: 50px;
    width: max-content;
    white-space: nowrap;
}
.best-of-boats .button-section [active]{
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    color: black;
}
.best-of-boats .button-section button:hover{
    color: rgb(69, 69, 69);
}

.features{
    justify-content: space-between;
    width: min(50rem, 90%);
    display: flex;
}

.features > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;    
}
.features>div img {
    width: 82px;
}
.features > div > span{
    text-align: center;
    width: min-content;
}




.show-by-lifestyle .gap{
    gap: 20px;
}

.image-container > div{
    min-width: 70vw;
}
.show-by-lifestyle .image-details .title{
    font-size: 28px;
    font-weight: bold
}
.show-by-lifestyle .image-details{
    gap: 10px;
    margin-top: -10px;
    background-color: #eff4f7 ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.blog-container > div{
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    min-width: 300px;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    position: relative;
}

.blog-container  img {
    width: 100%;
    aspect-ratio: 16 / 8;
}
.blog-container button{
    position: absolute;
    bottom: 10px;
    border-radius: 40px;
    width: 90%;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid rgb(176, 176, 176);
}

.blog-title{
    font-size: 18px;
}
.blog-details > div{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-details .date{
    color: rgb(131, 131, 131);
}

.footer-element-container{
    background-color:rgb(243, 243, 243);
    font-size: 20px;
}

.footer-element-container .input-container{
    padding: 10px 20px;
    background-color: #ffffff;
    width: max-content;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer-element-container input{
    border: none;
    width: min(90vw, 400px);
    background-color: transparent;
}

.social-media-container{
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.social-media-links{
    display: flex;
    gap: 20px;
}

.footer-element-container p{
    color: gray;
    line-height: 16px;
}


@media (min-width: 480px){
    :root{
        --section-one-video-width: 318px;
    }
    .recomented{
        display: none;
    }

    .bestsellers .media-scroller p{
        display: block;
    }
}


@media (min-width: 750px){
    :root{
        --header-logo-width: 85px;
        --product-tile-width:35vw;
    }
    .features>div {
        font-size: 18px;
    }
    .features>div img {
        width: 112px;
    }
    .image-container>div {
        min-width: 30vw;
    }
    .footer-element-container{
        font-size: 24px;
    }
    .footer-element-container .copy-right {
        padding-inline: 20vw;
    }
    .social-media-container {
        align-items: center;
        flex-direction: row;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media (min-width: 1000px){
    :root{
        --product-tile-width: 21.3vw;
        --fs-section-buttons: 1rem;
    }
    .best-of-boats .button-section {
        display: flex;
        gap: 20px;
        font-size: 16px;
    }
    .image-container > div {
        min-width: 15vw;
    }
    .show-by-lifestyle .image-details .title {
        font-size: 19px;
    }
    .blog-container > div{
        min-width: 21vw;
        max-width:21vw;
    }
}
@media (min-width: 1200px){
    #searchBtn {
        background-color: rgb(246, 246, 246);
        padding: 8px 10px;
        border-radius: 20px;
    }

}