:root{
    --header-logo-width: 60px;

    --clr-primary-bg: rgb(255, 255, 255);

    --fs-nav-buttons: 1rem;
    --fs-section-header: 24px;

    --fc-secondary: rgb(47, 47, 47);

}

/* UTILITY CLASSES */
.cursor-pointer{
    cursor: pointer;
}

body{
    font-family: 'Poppins', sans-serif;
}

.offer{
    font-size: 12px;
    background-color: rgb(239, 244, 247);
}
.offer span{
    font-weight: bold;
}

header{
    background-color: var(--clr-primary-bg);
    border-bottom: 1px solid rgb(189, 189, 189);
    position: sticky;
    top: -30px;
    z-index: 1;
}
nav{
    position: sticky;
    top: 20px;
    column-gap: 20px;
    font-size: var(--fs-nav-buttons);
}

.header-boat-logo img{
    width: var(--header-logo-width);
}
.nav-buttons > ul{
    gap: 1.5rem;
}
.nav-buttons a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--fc-secondary);
    position: relative;
}

.nav-buttons  a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.nav-buttons a:after {
    --width: 40%;
    position: absolute;
    content: "";
    background-color: red;
    transition: 1s;
    top: 22px;
    width: 0px;
    height: 1.5px;
    /* left: calc(50% - calc(var(--width) / 2)); */
    right: 50%;
    background-color: red;
    border-radius: 1px;

}
.nav-buttons a:hover:after {
    /* width: var(--width) */
    width: 1px;
    transform: scaleX(50)
    
}

.nav-buttons a > i{
    font-size: 10px;
}

.right-section{
    flex-grow: 5;
}

#searchBtn > input {
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-weight: bold;
    outline: none;
    width: 20vw;
}

.media-scroller{

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;

}

.media-scroller-image-container{
    --width: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: var(--width);
    height: var(--width);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 0, 0);
}

.recomented > .media-scroller > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.recomented img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.recomented p{
    text-align: center;
    width: min-content;
    font-size: 10px;
    font-weight: bold;
}


@media (min-width: 480px){
    .recomented{
        display: none;
    }
}

@media (min-width: 750px){
    :root{
        --header-logo-width: 85px;
    }
}

@media (min-width: 1200px){
    #searchBtn {
        background-color: rgb(246, 246, 246);
        padding: 8px 10px;
        border-radius: 20px;
    }

}